:root {
    --swiper-navigation-size: 80px !important;
}

.swiper-slide {
    font-size: 1.4rem;
    background: linear-gradient( 99.76deg, rgba(64, 127, 221, 0.62) 0.41%, rgba(64, 127, 221, 0.07) 98.75%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    min-height: 40vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.speaker-profile {
    margin: 1rem;
}

.speaker-event {
    width: 60%;
}

@media screen and (max-aspect-ratio: 1/1) {
    .swiper-slide {
        flex-direction: column;
    }
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: "" !important;
}

.swiper-button-prev {
    transform: rotateZ(-180deg);
}

.swiper-button-prev, .swiper-button-next {
    position: relative;
}