:root {
    --swiper-navigation-size: 80px !important;
    --swiper-theme-color: white !important;
}

.swiper-slide {
    background: linear-gradient( 99.76deg, rgba(64, 127, 221, 0.62) 0.41%, rgba(64, 127, 221, 0.07) 98.75%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    min-height: 50vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.speaker-details {
    background-color: RGBA(54, 57, 95, 0.82);
    width: 100%;
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.speaker-profile {
    background: #1c1e35;
    padding: 1rem;
    padding-bottom: 0;
    margin: 1rem;
    margin-left: 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 25%));
    width: 30%;
}

@media not all and (hover:none) {
    .speaker-profile:hover {
        filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 25%));
        cursor: pointer;
    }
}

.speaker-event {
    width: 50%;
    font-size: 1rem;
}

@media screen and (max-aspect-ratio: 1/1) {
    .swiper-slide {
        flex-direction: column;
    }
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: "" !important;
}

.swiper-button-prev {
    transform: rotateZ(-180deg);
}

.swiper-button-prev, .swiper-button-next {
    position: relative;
}

.speaker-image {
    max-width: 40%;
    margin-bottom: 1rem;
}

.speaker-image img {
    max-width: 100%;
    object-fit: contain;
}

.speaker-name {
    text-transform: uppercase;
}

.speaker-event {
    text-align: justify;
}

.speaker-event-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-aspect-ratio: 1/1) {
    .speaker-profile {
        transform: scale(0.8);
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    :root {
        --swiper-navigation-size: 44px !important;
    }
    .swiper-button-prev, .swiper-button-next {
        display: none !important;
    }
    .speaker-event {
        width: 80%;
    }
    .speaker-profile {
        margin-left: 1rem;
        width: 80%;
    }
    .swiper-slide {
        min-height: 80vh;
    }
    .speaker-image {
        max-width: 100%;
    }
}