.image-gallery {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}



.column {
  flex: 25%;
  max-width: 25%;
  padding: 0.25em 0;
}

.column img {
  margin : 0.5em;
  vertical-align: middle;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}